@import "tailwindcss";

body{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: #F9FAFB;
}

:root {
  --color-primary: #193366;
  --color-secondary: #339991;
}

.ag-root-wrapper {
  z-index: 0 !important;
}